{
	"extends": "eslint:recommended",
	"parserOptions": {
		"parser": "babel-eslint",
		"ecmaVersion": 11,
		"sourceType": "module"
	},
	"env": {
		"browser": true,
		"node": true
	},
	"globals": {
		"__dev__": "readonly"
	}
}
